@media (max-width: 875px) {
  .container {
    max-width: 70%;
    padding-top: 14px;
  }

  .right {
    padding-left: 0;
  }

  .left {
    display: none;
  }

  input[type="password"],
  input[type="text"],
  input[type="submit"] {
    width: 80%;
  }

  .app-button {
    margin-bottom: 50px;
  }

  footer {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    }

  .footer-inner ul {
    margin-bottom: 10%;
    flex-wrap: wrap;
  }

  .copyright {
    flex-wrap: wrap;
    margin-top: 35px;
  }
}

@media (max-width: 560px) {
  .container {
    max-width: 100%;
    padding-right: 20px;
  }
}

@media (max-width: 875px) {
  .container-signup {
    max-width: 90%;
  }

  input[type="password"],
  input[type="text"],
  input[type="submit"] {
    width: 80%;
  }

  .cta-button {
    width: 80%;
  }
}

@media (max-width: 460px) {
  footer {
    line-height: 20px;
  }
}
